/* reset CSS */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

.clear{
    clear:both
}

.col
{
    float: left;
    padding: 0 8px;
}

.col-half
{
    width: 50%;
}

.row
{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after
{
    content: "";
    display: block;
    clear: both;
}

/* 
DIFF BETWEEN INLINE-BLOCK/INLINE/BLOCK

Compared to display: inline, the major difference is that display: 
inline-block allows to set a width and height on the element. 

Also, with display: inline-block, the top and bottom margins/paddings 
are respected, but with display: inline they are not.

Compared to display: block, the major difference is that 
display: inline-block does not add a line-break after the element, 
so the element can sit next to other elements.
*/

/* 

NAVIGATION BAR

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover

li a:hover {
    background-color: #111;
  }

*/


.nav li{
    list-style-type: none;
    float: left;
}

.nav li a,
a.home{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 8px 16px;
    letter-spacing: 4px;
    font-size: 15px;
}

.nav{
    float: right;
}

a.home{
    float: left;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* tang gia tri len neu nhu thuoc tinh fix ko lam noi obj len tren */
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 8px 16px;
    background-color: white;
}

#slider{
    position: relative;
    background: url(IMAGE/hamburger.jpg) top center / cover no-repeat;
    padding-top: 50%;
}

#slider .text-content{
    position: absolute;
    bottom: 0;
    padding-left: 24px;
    padding-bottom: 22px;
}

#slider .text-description{
    font-size: 36px;
    opacity: 0.6;
    font-weight: 90;
    letter-spacing: 5px;
    line-height: 54px;
}

#contact,
#menu,
#about{
    padding: 64px 0px;
    max-width: 1100px;
    margin: auto;
}

#menu .menu-image,
#about .img{
    max-width: 100%;
    height: auto;
    padding: 12px 24px;
    opacity: 0.75;
}

.text-content .about-heading{
    display: block;
    line-height: 54px;
    letter-spacing: 5px;
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-content .about-sub-heading{
    line-height: 27px;
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin: 10px 0px;
}

.text-content .about-text-description,
.text-content .about-text{
    line-height: 27px;
    font-size: 18px;
    font-weight: 100;
    margin: 18px 0px;
}
.text-content .keyword{
    padding: 0px 8px;
    background-color: #f1f1f1;
    display: inline-block;
}

.text-content{
    padding: 12px 24px;
}

.text-content .about-text-description{
    opacity: 0.60;
}

.list-items .list-heading{
    font-size: 36px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 54px;
    font-weight: 200;
    margin: 10px 0px;
    display: block;
}

.item .name-item{
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 200;
    margin: 10px 0px;
}

.item .description-item{
    font-size: 15px;
    line-height: 22.5px;
    margin: 15px 0px;
    opacity: 0.75;
}

.list-items{
    padding: 12px 24px;
    list-style-type: none;
}

#contact .header{
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: 200;
    line-height: 54px;
    margin: 10px 0px;
}

#contact .email,
#contact .sub-header{
    font-size: 15px;
    line-height: 22.5px;
    margin: 15px 0px;
}

#contact{
    padding: 64px 16px;
}

#contact .address{
    color: #607d8b;
    font-size: 18px;

}

#contact .messageForm p{
    margin: 15px 0px;
}

#contact .messageForm input{
    display: block;
    width: 100%;
    padding: 16px 8px;
}

#contact .messageForm button
{
    padding: 8px 16px;
    margin: 16px 0px;
    border: none;
    font-size: 15px;
    font-weight: 100;
    line-height: 22.5px;
    font-family: 'Times New Roman', Times, serif;
}

#footer p{
    margin: 15px 0px;
    line-height: 52px;
    padding: 32px 0px;
    font-size: 15px;
}

#footer{
    background-color: #f1f1f1;
    height: 116px;
    text-align: center;
    margin: auto;
}